" IDEAVIMRC FOR INTELLIJ BUT I'M USING NEOVIM NOW SO THIS IS JUST FOR WHEN I
" NEED TO USE INTELLIJ

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
nnoremap <Space> <Nop>
let mapleader=" "

set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq



" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
set number
set relativenumber
set hlsearch
set showmatch
set clipboard=unnamedplus
set cursorline

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'



"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug

"" Git remaps
nnoremap <leader>gc :action CheckinProject<CR>
nnoremap <leader>gp :action Vcs.Push<CR>
nnoremap <leader>gl :action Vcs.UpdateProject<CR>


"" QoF remaps
nnoremap <leader>/ :action CommentByLineComment<CR>
nnoremap <leader>q :q<CR>
nnoremap <leader>e :action ActivateProjectToolWindow<CR>
nnoremap <Esc> :action HideActiveWindow<CR><Esc>
nmap ff :action GotoFile<CR>



"" Error Handling remaps
nnoremap <leader>z :action  GotoNextError<CR>
nnoremap <leader>Z :action GotoPreviousError<CR>
nnoremap <leader>d :action ShowErrorDescription<CR>
nnoremap <leader>f :action ShowIntentionActions<CR>
nnoremap <leader>rf :action RenameElement<CR>


"" OpenFiles
nnoremap <leader>op :action NewProject<CR>
nnoremap <leader>nf :action NewElement<CR>
nnoremap <leader>l :action NextTab<CR>
nnoremap <leader>h :action PreviousTab<CR>


"" Run Stop and ideavimrc remaps
nnoremap <leader>r :action Run<CR>
nnoremap <leader>s :action Stop<CR>
nnoremap <leader>vv :e ~/.ideavimrc<CR>
nnoremap <leader>vr :source ~/.ideavimrc<CR>

"map <leader>d <Action>(Debug
"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
